*{
    margin: 0;
    font-family: Arial;
    border: border-box;
    background-color: rgb(2, 4, 27);
    color: white;
}
/* TOPBAR */
.topbar{
    height: 150px;
    background-image: url("https://capsule-render.vercel.app/api?type=waving&height=150&color=34a4eb");
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
 /* NAME */
.name{
    background-color: transparent;
    text-align: left;
    font-family: "Roboto Slab";
    font-size: 80px;
    font-weight: 600;   
}
.name p{
    font-size: 1rem;
    background-color: transparent;
}
/* CONTACT */
.contact{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition-duration: 1s;
}


.social{
    background-color: transparent;
}
.social a{
    background-color: transparent;
}
.social i {
    background-color: transparent;
    font-size: 2.3rem;
    margin-left: 2rem;
}
.email{
    background-color: transparent;
    margin-left: 20px;
}
.email p{
    background-color: transparent;
}
.big{
    transition-duration: 1s;
}
.big:hover{
    font-size: 25px;
}

/* CONTEXT */

/* NAVBAR */
.navbar{
    height: 60px;
    background-color: rgba(52, 164, 235,0.2);
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid transparent;
    
}
.navbar a{
    background-color: transparent;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 1.2rem;
    transition-duration: 0.5s;
    
}
.navbar a:hover{
    font-size: 1.4rem;
    
}

.resume{
    border: 3px solid white;
    border-radius: 35%;
    height:35px;
    width: 8rem;
    text-align: center;
    padding-top: 5px;
}
/* M A I N */
.main{
    background-color: transparent;
    height:480px;
    display: flex;
    align-items: center;
     background-image: url("images/background.jpg"); 
    background-size: cover;
}
/* TASKBAR */
.taskbar{
    background-color: transparent;
    height: 480px;
    width: 25%
    
      
}
.tb{
    height: 480px;
    width: 25%;
    background-color: rgba(15, 130, 201, 0.2);
    transition-duration: 0.5s;
    white-space: nowrap;
    overflow: hidden;
    border: 2px solid transparent;
    border-radius: 25%;
    
}
.tb:hover{
    width: 100%;
    background-color: rgba(25, 116, 186, 0.2);

}
.tb div{
    background-color: transparent;
    margin-top: 2rem;
}
.tb i{
    font-size: 2.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    background-color: transparent;
}
.tb a{
    font-size: 1.3rem;
    text-decoration:none ;
    border: 2px solid transparent;
    background-color: transparent;
    padding: 0.7rem;
    border-radius: 25%;
    transition-duration: 0.5s;
}
.tb a:hover{
    background-color: rgba(25, 116, 186, 0.4);

}
/* About */
.about{
    background-color:rgba(25, 116, 186, 0.2);
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 75%;
    border: 2x solid transparent;
    border-radius: 2%;
    transition:  background-color 0.5s , color 0.5s;
}
.about:hover{
    background-color: #1974ba66;
    color: white;
}

.am{
    width: 20%;
    height: 200px;
    background-color: transparent;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.am b{
    background-color: transparent;
    color: rgb(173, 228, 219);
    font-family: "Roboto Slab";
}

.para{
    width: 50%;
    height: 400px;
    background-color:transparent;
    font-size: 1.1rem;
    color: rgb(173, 228, 219);
    font-family:"Roboto Slab";
    display: flex;
    align-items: center;
}
.photo{
    width: 30%;
    height: 280px;
    border: 2px solid black;
    border-radius: 50%;
    background-image: url("images/edu.jpg");
    background-size: contain;
}
/* MAIN BODY 2 */
.mainbody2{
    height: 780px;
}

.box{
    height: 120px;
    background-color: transparent;
    display: flex;
    justify-content: center;
}
.title{
    height: 120px;
    width: 10%;
    background-color: rgba(0, 136, 255,0.2);
    border: 2px solid black;

}
.t1{
    background-image: url("images/bit.png" );
    background-size: cover;
}
.t2{
    background-image: url("images/kv.png" );
    background-size: cover;
}
.t3{
    background-image: url("images/afs.png" );
    background-size: cover;
}
.detail{
    height: 120px;
    width: 50%;
    background-color: rgba(39, 157, 190,0.2);
    border: 2px solid black;
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    align-items: center;

}
/* footer */
.foot{
    height: 150px;
    background-image: url("https://capsule-render.vercel.app/api?type=waving&height=150&color=1974ba&text=Happy%20Exploring!&fontColor=dfe6ed&fontSize=40&section=footer");
    background-size: cover;
}

