/* src/ModalFeed.css */

.modal-overlay {
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: rgb(19, 18, 18);
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    
  }
  
  .close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
  }

  .close-modal :hover{
    color: red;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 15px;
  }
  
  .form-group {
    margin-bottom: 25px;
    color: darkgray;
    text-align: left;
  }
  
  label {
    font-weight: bold;
    text-align: left;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #383636;
    background-color: #383636;
    border-radius: 5px;
    font-size: 1rem;
    color: bisque;
  }
  
  textarea {
    min-height: 100px;
  }
  
  .submit-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  