/* App Wrapper */
.app-1 {
    font-family: Arial, sans-serif;
  }
  
  /* Drawer Styles */
  .drawer-1 {
    position: fixed;
    top: 0;
    left: -250px;
    border-radius: 15px;
    width: 200px;
    background-color: #202020d9;
    color: white;
    padding: 20px;
    transition: left 0.3s ease;
    z-index: 200;
    padding-top: 70px;
    border: 2px dashed gray;
    
  }
  
  .drawer-1.open {
    left: 0;
  }
  
  .drawer-btn {
    display: block;
    background-color: #050505;
    color: rgb(141, 138, 138);
    border: none;
    padding: 10px;
    margin: 10px 0;
    font-size: 0.8rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: left;
  }
  
  .drawer-btn:hover {
    background-color: #555;
  }
  
  /* Drawer Toggle Button */
  .drawer-toggle-btn {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: #333;
    color: rgb(166, 165, 165);
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    z-index: 300;
    
  }
  
  .drawer-toggle-btn:hover {
    background-color: #444;
    

  }
  