/* src/Taskbar.css */



.top-bar {
    background-color: #0e0529 ;
    color: white;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    width: 85%;
    z-index: 100;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(221, 125, 221, 0.4); 
    border: 4px dotted rgb(180, 177, 180); /* Dashed border */
    position: absolute;
    margin-top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    
    animation: blink-border 1.5s infinite; 
  }
 
 
  @keyframes blink-border {
    0% {
        border-color: rgb(180, 177, 180); /* Initial color */
    }
    25% {
        border-color: transparent; /* Change to white at 50% */
    }
    50% {
        border-color: rgb(180, 177, 180); /* Return to initial color */
    }
    75% {
      border-color: transparent; /* Change to white at 50% */
  }
  100% {
      border-color: rgb(180, 177, 180); /* Return to initial color */
  }
  

}

  
  .button {
    background-color:#966209 ;
    color: white;
    border:2.5px dashed white;
    padding: 10px 20px;
    margin-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 1rem;
  }
  
  .button:hover {
    background-color: #c0c3d3;
    color: #09374a;
  }
  
  .social-media-links {
    display: flex;
    gap: 15px; /* Space between icons */
  }
  
  .social-media-links a {
    display: inline-block;
    width: 40px;  /* Set the desired width */
    height: 40px; /* Set the desired height */
    transition: transform 0.3s, box-shadow 0.2s; /* Smooth transition for hover effects */
    border-radius: 50%; /* Make the container circular */
  }

  .social-media-links a:hover {
    transform: scale(1.2); /* Increase the size by 20% */
   
}
  
  .social-media-links img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image fits within the dimensions */
    border-radius: 50%;

  }
  

  .social-media-links a::after {
    content: attr(title); /* Use the title attribute as the label text */
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #6ec0db;
    color: rgb(4, 37, 88);
    padding: 8px 10px;
    margin-top: 0.5rem;
    border-radius: 5px;
    font-size: 10px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
  }
  
  .social-media-links a:hover::after {
    opacity: 1;
    visibility: visible;
  }