.projects-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
  
  .project {
    display: flex;
    
    flex-wrap: wrap;
    background:transparent;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .project-image {
    flex: 1;
    min-width: 150px;
    max-width: 250px; /* Limit the max width */
   
  }
  
  .project-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: contain; /* Ensures proper aspect ratio */
  }
  
  .project-details {
    flex: 2;
    margin-left: 20px;
   
    color: #ddd;
    text-align: left;
    font-size: 0.8rem;
  }
  
 
  .project-details p {
    margin: 10px;
    font-weight: lighter;
    color: rgb(111, 111, 111);
  }
  
  @media (max-width: 768px) {
    .project {
      flex-direction: column;
      text-align: center;
    }
  
    .project-details {
      margin-left: 0;
      margin-top: 20px;
    }
  }
  




  .project-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    gap: 10px; /* Space between buttons */
    
    
    
  }
  
  .btn {
    padding: 10px 15px;
    font-size: 0.9rem;
    text-decoration: none;
    color: #000000;
    background-color: #68686a; /* Button background color */
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-align: center;
  }
  
  .btn:hover {
    background-color: #000000; /* Darker blue on hover */
    color: #68686a;
    border: 2px solid gray;
  }
  

h5{
  font-size: larger;
}

h5:hover{
  color: #68686a;
}

.glitch {
  position: relative;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  animation: glitch-animation 2s infinite;
  overflow: hidden;
  text-align: center;
  margin-top: 20px;
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
}

.glitch::before {
  color: #970808; /* Red glitch */
  animation: glitch-effect 1.5s infinite linear alternate-reverse;
}

.glitch::after {
  color: #0cdcdc; /* Cyan glitch */
  animation: glitch-effect 1.5s infinite linear alternate;
}

@keyframes glitch-effect {
  0% {
    clip-path: inset(0 0 80% 0);
    transform: translate(-2px, -2px);
  }
  25% {
    clip-path: inset(15% 0 55% 0);
    transform: translate(2px, 2px);
  }
  50% {
    clip-path: inset(30% 0 30% 0);
    transform: translate(-1px, 0);
  }
  75% {
    clip-path: inset(50% 0 10% 0);
    transform: translate(1px, -1px);
  }
  100% {
    clip-path: inset(0 0 80% 0);
    transform: translate(0, 2px);
  }
}

@keyframes glitch-animation {
  0%, 100% {
    transform: translate(0);
  }
  50% {
    transform: translate(-2px, 2px);
  }
}
